.parent{
  margin-top: 10px;
  align-items: center;
  padding: 0px;
  border-radius: 25px;
  background-image: linear-gradient(to right,#B23565,#24266F) !important;
}
.icon{
  border: none !important;
  font-size: 20px;
}
.mb-3{
  margin-bottom: 20px !important;
}
.error{
  position: absolute;
  font-size: 14px;
}
input{
  border-left: none !important;
}
.arrow{
  position: absolute;
  top:50%;
  left:48.5%;
  border-radius: 50%;
  color: white;
  padding: 10px;
  background-image: linear-gradient(to bottom,#B23565,#24266F) !important;
}
.arrow:hover{
  background-image: linear-gradient(to top,#B23565,#24266F) !important;
}
.form{
  background-color: #E9E9F1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
select{
  border-left: none !important;
}
h3,.accept{
  color: #B23565;
}
p{
  color: #B23565;
  font-size: 14px;
}
.button{
  position: absolute;
  bottom: 40px;
  justify-content: space-between !important;
}
.sign{
  margin-left: 8px;
}
.icon{
  color: lightgray;
}
.custom-checkbox {
  content: "✔"; /* Display a checkmark (tick) */
  color: #B23565 !important; 
  background-color: #E9E9F1 !important;
  position: absolute;
  border-radius: 40% !important; /* Optional: Make the checkbox rounded */
  border: 3px solid #B23565 !important;
  width: 25px;
  height: 25px;
  border-radius: 40% !important; /* Optional: Make the checkbox rounded */
  border: 3px solid #B23565 !important;
}
.custom-checkbox:checked::after {
  content: "✔"; /* Display a checkmark (tick) */
  color: #cd3c73 !important; 
}
.color{
  position: absolute;
  bottom: 10%;
  left: 33%;
  justify-content: space-between;
}
.blue{
  color: #3F62F6;
  border-radius: 50%;
  font-size: 25px;
}
.orange{
  color: #EEA70F;
  border-radius: 50%;
  font-size: 25px;
}
.white{
   color: #FCFEFD;
  border-radius: 50%;
  font-size: 25px;
}
.btn-primary{
  padding: 8px 30px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom,#B23565,#24266F) !important;
  --bs-btn-disabled-bg: none !important; 
  --bs-btn-disabled-border-color: none !important;
  --bs-btn-color: #fff ;
  --bs-btn-bg: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: none !important;
    --bs-btn-hover-border-color: none !important;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: none !important;
    --bs-btn-active-border-color: none !important;
    border-color: #B23565 !important;
}
.btn-danger{
  padding: 8px 40px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom,#B23565,#24266F) !important;
  --bs-btn-disabled-bg: none !important; 
  --bs-btn-disabled-border-color: none !important;
  --bs-btn-color: #fff ;
  --bs-btn-bg: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: none !important;
    --bs-btn-hover-border-color: none !important;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: none !important;
    --bs-btn-active-border-color: none !important;
    border-color: #B23565 !important;
}
.reset:hover{
  opacity: 0.9;
  background-image: linear-gradient(to top,#B23565,#24266F) !important;
}
.register{
  padding: 2px 110px;
  background-color: #E9E9F1;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
@media screen and (min-width:1430px) and (max-width:1450px) {
  .button{
  position: absolute;
  bottom: 35%;
  justify-content: space-between !important;
  }
  .arrow{
  top:35%;
  }
  .color{
  position: absolute;
  bottom: 40%;
  left: 32%;
  justify-content: space-between;
}
}
@media screen and (min-width:1020px) and (max-width:1025px) {
  .arrow{
  top:40%;
  }
  .color{
  position: absolute;
  bottom: 25%;
  left: 20%;
  justify-content: space-between;
}
  .button{
  position: absolute;
  bottom: 20%;
  justify-content: space-between !important;
  }

}
@media screen and (min-width:760px) and (max-width:778px) {
  .arrow{
  top:55%;
  left: 47%;
  }
  .color{
  position: absolute;
  bottom: -5%;
  left: 20%;
  justify-content: space-between;
}
  .button{
  right: 8%;
  position: absolute;
  bottom: -14.5%;
  justify-content: space-between !important;
}
}
@media screen and (max-width:430px) {
  .parent{
  margin-top: 20px;
  padding: 20px;
  border-radius: 25px;
  background-image: linear-gradient(to top,#B23565,#24266F) !important;
  }
  .start{
    margin-bottom: 20px;
  }
  .upward{
    position: absolute;
    top:33%;
    right: 45%;
    border-radius: 50%;
    padding: 10px;
     background-image: linear-gradient(to bottom,#B23565,#24266F) !important;
  }
  .upward:hover{
    background-image: linear-gradient(to top,#B23565,#24266F) !important;
  }
   .sign{
    margin-right: 90px ;
  }
  .form{
    padding: 30px;
    border-radius: 15px;
  }
}
@media screen and (max-width:378px) {
  .sign{
    margin-right: 40px ;
  }
}
@media screen and (max-width:330px) {
  .sign{
    margin-right: 10px ;
  }
  .form{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
